.g-ytsubscribe {
  display: inline-block;
  width: 25em;
}
html {
  background-color: #432920;
  font-family: 'Arvo', serif;
  color: white;
}
#link-buttons-wrapper {
  text-align: center;
}
#link-buttons-wrapper > a {
  display: inline-block;
}