.g-ytsubscribe {
  display: inline-block;
  width: 25em;
}
html {
  background: #432920 url(background.jpg) repeat;
  font-family: 'Arvo', serif;
  color: white;
}
h1, h2 {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}
#link-buttons-wrapper {
  text-align: center;
}
#link-buttons-wrapper > a {
  display: inline-block;
}