#yt-subscribe {
  vertical-align: middle;
  max-width: 25em;
}
html {
  background: #432920 url(background.jpg) repeat;
  font-family: 'Arvo', serif;
  color: white;
  font-size: 12pt;
}
#outerwrap {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: stretch;
  align-content: flex-start;
}
@media all and (max-width: 30em) {
  #outerwrap {
    flex-flow: column no;
  }
}
#innerwrap {
  flex: 2;
}
h1, h2 {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}
#link-buttons-wrapper {
  text-align: center;
  vertical-align: middle;
  font-size: 0px;
}
#discord-button, #___ytsubscribe_0 {
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle !important;
  display: block;
}
#discord-button {
  margin-top: 0.5em;
}
#sidebar {
  flex: 1 15em;
  background-color: #ffff99;
  color: black;
  border: 1px solid black;
  margin: 0.5em;
  padding: 0.5em;
}